
body {
background-image: "..img/redrock.jpg";
}
.impact {
padding: 50px;
border: 20px solid blue;
margin: 20px
}
.roadtrip{
  font-family:arial;
  color: lightyellow;
  text-align: left;
  border:20pt solid green;
  margin:20pt;
  background-color: green;

}
h1{
  color: deepskyblue;
}
img {
  max-width: 50%;
  max-height: 50%;
  display: block;
  float: right;
  border: 20pt solid teal;
}
.coll {
  color:green;
  font-weight:800;
  font-size:80;

}
