
body {
margin: 20pt;
background-image:repeating-radial-gradient(yellow,pink,lightblue,yellow);
}
.impact {
font-size: 40
padding: 50px;
border: 20px solid teal;
padding: 20pt;
}
.roadtrip {
  font-family: impact;
  text-align:center;
  color: yellow;
  border:20pt solid teal;
  background-color: teal;
}
h1{
  color: blue;
  border: 20px solid teal;
  text-align: center;
  background-image: radial-gradient(white, yellow,teal,teal);
  }
img {
  max-width: 50%;
  max-height: 50%;
  display: block;
  float: right;
  border: 20pt solid teal;
}
.coll {
  color:blue;
  font-weight:800;
  font-size:80;
  display: block;
}
img.banner{
  float: none;
  border: none;

}
