body{
  margin: 200px,200px;
  border: 50px solid navy;
  padding: 300px,300px,300px,300px
}
.impact {
padding: 20px;
border: 20px solid navy;
margin: 20px
}
.roadip{
  font-family: cursive;
  color: black;
}
h1{
  background-image:url("../img/redrock.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 10%;
  text-align:center;
}
img {
  max-width: 50%;
  max-height: 50%;
  display: block;
  float: right;
  border: 20px solid teal;
}
.coll {
  color: teal;
  font-size: 2vw;
}
ul {
  font-family: Helvetica;
  font-weight: bold;
}
.code {
  font-weight: bold;
}

 h3{
  background-color: teaL;
  color: white;
}
